<html>
  <head>
  </head>
  <title>
    Worklog for Rikard and Henrik
  </title>
  <body>
    <style type="text/css">
      
      .rTable {
      display: table;
      width: 100%;
      }
      .rTableRow {
      display: table-row;
      }
      .rTableHeading {
      display: table-header-group;
      background-color: #ddd;
      }
      .rTableCell, .rTableHead {
      display: table-cell;
      padding: 3px 10px;
      border: 1px solid #999999;
      }
      .rTableHeading {
      display: table-header-group;
      background-color: #ddd;
      font-weight: bold;
      }
      .rTableFoot {
      display: table-footer-group;
      font-weight: bold;
      background-color: #ddd;
      }
      .rTableBody {
      display: table-row-group;
      }
      </style>
    <h2>Stats from the Juneday wiki</h2>
    <table>
      <tr>
        <td>
          <div>
            <div class="rTable">
              <div class="rTableRow">
                <div class="rTableHead"><strong>Book stats</strong></div>
                <div class="rTableHead"><strong>Amount</strong></div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of Wiki books</div>
                <div class="rTableCell">__NR_WIKI_BOOKS__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of pages in wiki</div>
                <div class="rTableCell">__NR_PAGES__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of presentations</div>
                <div class="rTableCell">__NR_PRESENTATIONS__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of presentation pages</div>
                <div class="rTableCell">__NR_PRESENTATION_PAGES__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of linked videos</div>
                <div class="rTableCell">__NR_LINKED_VIDEOS__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableHead"><strong>Source code</strong></div>
                <div class="rTableHead"><strong>Amount</strong></div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of public repos</div>
                <div class="rTableCell">__NR_PUBLIC_REPOS__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Lines of Java code</div>
                <div class="rTableCell">__LOC_JAVA__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Lines of C code</div>
                <div class="rTableCell">__LOC_C__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Lines of bash code</div>
                <div class="rTableCell">__LOC_BASH__</div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">Number of videos on Vimeo</div>
                <div class="rTableCell">__NR_VIMEO_VIDEOS__</div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div>
            <div class="rTable">
              <div class="rTableRow">
                <div class="rTableHead"><strong>Weekly stats</strong></div>
                <div class="rTableHead"><strong>Amount</strong></div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">New page on wiki</div>
                <div class="rTableCell">__NR_WEEKLY_PAGES__ </div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">New presentations</div>
                <div class="rTableCell">__NR_WEEKLY_PRESENTATIONS__ </div>
              </div>
              <div class="rTableRow">
                <div class="rTableCell">New videos</div>
                <div class="rTableCell">__NR_WEEKLY_VIDEOS__</div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </table>
  </body>
</html>
